*{
    margin: 0;
    padding: 0;
}

.primary-color{
    color: #66BFBF;
}

.secondary-color{
    color: #11999E;
}

.bg-primary{
    background-color: #9ee7e7;
}

.bg-secondary{
    background-color: #66BFBF;
}

.arial-font{
    font-family: Arial;
    font-weight: bold;
}

.txt-center{
    text-align: center;
}

.p{
    margin: 8px 0;
    color: #40514E;
    font-weight: bold;
    font-family: Arial;
    font-size: 18.7px;
}